cagos-pubsub.json
{"flowContents":{"identifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802","instanceIdentifier":"85db0fd8-0199-1000-996a-78aeb09d036c","name":"cagos-pubsub","comments":"","position":{"x":-3504.0,"y":-960.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"85feb7f9-0199-1000-e211-5025c30dea65","instanceIdentifier":"33f55f82-0a22-3e6c-89d5-c283371b7ae3","name":"UpdateAttribute","comments":"","position":{"x":-128.0,"y":-296.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802"},{"identifier":"c82f7d00-0199-1000-3378-03e2f3be1330","instanceIdentifier":"6e9e9945-fd6f-3f11-cd73-208b71f4a695","name":"UpdateAttribute","comments":"","position":{"x":-1896.0,"y":656.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"createdAt":"${createdAt:multiply(1000):toDate():format(\"yyyy-MM-dd'T'HH:mm:ss\")}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"createdAt":{"name":"createdAt","displayName":"createdAt","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802"},{"identifier":"e8032612-9366-3be0-9f04-b30c45b93731","instanceIdentifier":"c828b31c-0199-1000-f186-85a2259bd5da","name":"ConsumeKafka","comments":"","position":{"x":-1896.0,"y":240.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.5.0"},"properties":{"Topics":"cargos-async_scan_to-npu","Commit Offsets":"true","Header Name Pattern":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Max Uncommitted Size":null,"Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"100 millis","Kafka Connection Service":"48317afc-393b-33e2-a62b-beadf483d5e9","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"nifi-ms-v1.0","auto.offset.reset":"latest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Size":{"name":"Max Uncommitted Size","displayName":"Max Uncommitted Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802"},{"identifier":"467d06ff-4b57-35e4-805a-a58f36172778","instanceIdentifier":"85fdba54-0199-1000-d9b8-6040ccce24a8","name":"UpdateAttribute","comments":"","position":{"x":-128.0,"y":-496.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802"},{"identifier":"c82a053d-0199-1000-0241-d70c038c929f","instanceIdentifier":"aa3eb3e6-1683-31a1-5a32-ccd8987495e3","name":"JoltTransformJSON","comments":"","position":{"x":-1896.0,"y":864.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.5.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-chain","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"status_date\": \"${createdAt:escapeJson()}\"\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"waybill_number\": \"messages[0].data.number\",\n      \"partner_event_code\": \"messages[0].data.status\",\n      \"status_date\": [\"messages[0].data.createdAt\", \"messages[0].ordering_key\"],\n      \"status_country\": \"messages[0].data.countryCode\",\n      \"location\": {\n        \"name\": \"messages[0].data.divisionAddress\",\n        \"longitude\": \"messages[0].data.divisionLongitude\",\n        \"latitude\": \"messages[0].data.divisionLatitude\"\n      }\n    }\n  },\n  {\n    \"operation\": \"modify-default-beta\",\n    \"spec\": {\n      \"messages\": {\n        \"*\": {\n          \"attributes\": {\n            \"objectType\": \"movementFact\",\n            \"countryUA\": \"\"\n          }\n        }\n      }\n    }\n  }\n]"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802"},{"identifier":"79ee8da9-98b6-3749-a090-4b70ed941e75","instanceIdentifier":"866ef8e6-0199-1000-7c79-5bdc998db98c","name":"PublishGCPubSub","comments":"","position":{"x":-1896.0,"y":1072.0},"type":"org.apache.nifi.processors.gcp.pubsub.PublishGCPubSub","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.5.0"},"properties":{"Maximum Message Size":"1 MB","api-endpoint":"pubsub.googleapis.com:443","proxy-configuration-service":null,"Record Reader":null,"Input Batch Size":"100","gcp-pubsub-publish-batch-delay":"100 millis","gcp-project-id":"nova-poshta-europe-357108","GCP Credentials Provider Service":"f5fca0e2-491d-37f7-8e24-356cce486027","Message Derivation Strategy":"FLOWFILE_ORIENTED","gcp-pubsub-publish-batch-size":"15","Record Writer":null,"gcp-pubsub-topic":"projects/nova-poshta-europe-357108/topics/npg-cargos-stage","gcp-batch-bytes":"3 MB"},"propertyDescriptors":{"Maximum Message Size":{"name":"Maximum Message Size","displayName":"Maximum Message Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"api-endpoint":{"name":"api-endpoint","displayName":"API Endpoint","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Input Batch Size":{"name":"Input Batch Size","displayName":"Input Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"gcp-pubsub-publish-batch-delay":{"name":"gcp-pubsub-publish-batch-delay","displayName":"Batch Delay Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"gcp-project-id":{"name":"gcp-project-id","displayName":"Project ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Derivation Strategy":{"name":"Message Derivation Strategy","displayName":"Message Derivation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"gcp-pubsub-publish-batch-size":{"name":"gcp-pubsub-publish-batch-size","displayName":"Batch Size Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"gcp-pubsub-topic":{"name":"gcp-pubsub-topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"gcp-batch-bytes":{"name":"gcp-batch-bytes","displayName":"Batch Bytes Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802"},{"identifier":"c82fabdc-0199-1000-7c43-c8df5b37da6a","instanceIdentifier":"bf18bdb4-ac06-3103-c13c-7e1d75a29de4","name":"UpdateAttribute","comments":"","position":{"x":-1248.0,"y":448.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802"},{"identifier":"c82f2bd5-0199-1000-58d8-cf452afbc784","instanceIdentifier":"06ce1e01-a067-3e65-15d5-b488635b4e22","name":"EvaluateJsonPath","comments":"","position":{"x":-1896.0,"y":448.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Destination":"flowfile-attribute","country":"$.countryCode","createdAt":"$.status_date","Max String Length":"20 MB","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"country":{"name":"country","displayName":"country","identifiesControllerService":false,"sensitive":false,"dynamic":true},"createdAt":{"name":"createdAt","displayName":"createdAt","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802"},{"identifier":"866f522a-0199-1000-5ed9-d5069f5c925e","instanceIdentifier":"ff6ba2dc-f13a-3737-08e2-91b6cc7210f3","name":"UpdateAttribute","comments":"","position":{"x":-2120.0,"y":1352.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802"},{"identifier":"c851670e-0199-1000-210e-801353090d16","instanceIdentifier":"b75f81f6-8d08-3c7a-7721-2f1e3aba14b8","name":"UpdateAttribute","comments":"","position":{"x":-1248.0,"y":856.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802"},{"identifier":"866f2b26-0199-1000-954e-b5ec8db44a22","instanceIdentifier":"97cec06a-7782-3586-0f0f-f9afeedf6042","name":"UpdateAttribute","comments":"","position":{"x":-1656.0,"y":1352.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"7c7d6ae9-0197-3000-ae1d-443bbacbf0c8","instanceIdentifier":"c851f868-0199-1000-d25d-ad85b391cf19","name":"","source":{"id":"c82a053d-0199-1000-0241-d70c038c929f","type":"PROCESSOR","groupId":"09fb149b-2abc-38b0-8ac9-fff6783b1802","name":"JoltTransformJSON","comments":"","instanceIdentifier":"aa3eb3e6-1683-31a1-5a32-ccd8987495e3"},"destination":{"id":"c851670e-0199-1000-210e-801353090d16","type":"PROCESSOR","groupId":"09fb149b-2abc-38b0-8ac9-fff6783b1802","name":"UpdateAttribute","comments":"","instanceIdentifier":"b75f81f6-8d08-3c7a-7721-2f1e3aba14b8"},"labelIndex":0,"zIndex":34,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802"},{"identifier":"7805e6c4-187f-39ef-bb72-5a4e1273598d","instanceIdentifier":"c82f9e38-0199-1000-037a-d28239a75bca","name":"","source":{"id":"c82f2bd5-0199-1000-58d8-cf452afbc784","type":"PROCESSOR","groupId":"09fb149b-2abc-38b0-8ac9-fff6783b1802","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"06ce1e01-a067-3e65-15d5-b488635b4e22"},"destination":{"id":"c82f7d00-0199-1000-3378-03e2f3be1330","type":"PROCESSOR","groupId":"09fb149b-2abc-38b0-8ac9-fff6783b1802","name":"UpdateAttribute","comments":"","instanceIdentifier":"6e9e9945-fd6f-3f11-cd73-208b71f4a695"},"labelIndex":0,"zIndex":31,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802"},{"identifier":"d99b005f-706a-3072-be69-7346321ba059","instanceIdentifier":"866f48f3-0199-1000-b2c5-a22c0c3225b4","name":"","source":{"id":"79ee8da9-98b6-3749-a090-4b70ed941e75","type":"PROCESSOR","groupId":"09fb149b-2abc-38b0-8ac9-fff6783b1802","name":"PublishGCPubSub","comments":"","instanceIdentifier":"866ef8e6-0199-1000-7c79-5bdc998db98c"},"destination":{"id":"866f2b26-0199-1000-954e-b5ec8db44a22","type":"PROCESSOR","groupId":"09fb149b-2abc-38b0-8ac9-fff6783b1802","name":"UpdateAttribute","comments":"","instanceIdentifier":"97cec06a-7782-3586-0f0f-f9afeedf6042"},"labelIndex":0,"zIndex":28,"selectedRelationships":["failure","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802"},{"identifier":"9d17d3a1-e5ba-3e0c-9cce-00db7b35e99d","instanceIdentifier":"c82fd675-0199-1000-1e4a-980bd2f53ab8","name":"","source":{"id":"c82f2bd5-0199-1000-58d8-cf452afbc784","type":"PROCESSOR","groupId":"09fb149b-2abc-38b0-8ac9-fff6783b1802","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"06ce1e01-a067-3e65-15d5-b488635b4e22"},"destination":{"id":"c82fabdc-0199-1000-7c43-c8df5b37da6a","type":"PROCESSOR","groupId":"09fb149b-2abc-38b0-8ac9-fff6783b1802","name":"UpdateAttribute","comments":"","instanceIdentifier":"bf18bdb4-ac06-3103-c13c-7e1d75a29de4"},"labelIndex":0,"zIndex":32,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802"},{"identifier":"45def383-9443-3451-891c-cafdcf905d9c","instanceIdentifier":"c830270f-0199-1000-3233-98fc2e899cd2","name":"","source":{"id":"c82f7d00-0199-1000-3378-03e2f3be1330","type":"PROCESSOR","groupId":"09fb149b-2abc-38b0-8ac9-fff6783b1802","name":"UpdateAttribute","comments":"","instanceIdentifier":"6e9e9945-fd6f-3f11-cd73-208b71f4a695"},"destination":{"id":"c82a053d-0199-1000-0241-d70c038c929f","type":"PROCESSOR","groupId":"09fb149b-2abc-38b0-8ac9-fff6783b1802","name":"JoltTransformJSON","comments":"","instanceIdentifier":"aa3eb3e6-1683-31a1-5a32-ccd8987495e3"},"labelIndex":0,"zIndex":33,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802"},{"identifier":"31429777-8425-3d42-b37c-87148a51d18b","instanceIdentifier":"c82a340b-0199-1000-768c-81579d49b8d0","name":"","source":{"id":"e8032612-9366-3be0-9f04-b30c45b93731","type":"PROCESSOR","groupId":"09fb149b-2abc-38b0-8ac9-fff6783b1802","name":"ConsumeKafka","comments":"","instanceIdentifier":"c828b31c-0199-1000-f186-85a2259bd5da"},"destination":{"id":"c82f2bd5-0199-1000-58d8-cf452afbc784","type":"PROCESSOR","groupId":"09fb149b-2abc-38b0-8ac9-fff6783b1802","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"06ce1e01-a067-3e65-15d5-b488635b4e22"},"labelIndex":0,"zIndex":30,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802"},{"identifier":"6c22531c-54c2-3ec9-bd2b-23798c3295fa","instanceIdentifier":"866f701a-0199-1000-66a5-c777f685e280","name":"","source":{"id":"79ee8da9-98b6-3749-a090-4b70ed941e75","type":"PROCESSOR","groupId":"09fb149b-2abc-38b0-8ac9-fff6783b1802","name":"PublishGCPubSub","comments":"","instanceIdentifier":"866ef8e6-0199-1000-7c79-5bdc998db98c"},"destination":{"id":"866f522a-0199-1000-5ed9-d5069f5c925e","type":"PROCESSOR","groupId":"09fb149b-2abc-38b0-8ac9-fff6783b1802","name":"UpdateAttribute","comments":"","instanceIdentifier":"ff6ba2dc-f13a-3737-08e2-91b6cc7210f3"},"labelIndex":0,"zIndex":29,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802"},{"identifier":"b56c5405-d566-33f9-bcfb-2a3cd0b68a4b","instanceIdentifier":"c852a524-0199-1000-80e9-0ace25b1cc30","name":"","source":{"id":"c82a053d-0199-1000-0241-d70c038c929f","type":"PROCESSOR","groupId":"09fb149b-2abc-38b0-8ac9-fff6783b1802","name":"JoltTransformJSON","comments":"","instanceIdentifier":"aa3eb3e6-1683-31a1-5a32-ccd8987495e3"},"destination":{"id":"79ee8da9-98b6-3749-a090-4b70ed941e75","type":"PROCESSOR","groupId":"09fb149b-2abc-38b0-8ac9-fff6783b1802","name":"PublishGCPubSub","comments":"","instanceIdentifier":"866ef8e6-0199-1000-7c79-5bdc998db98c"},"labelIndex":0,"zIndex":35,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"48317afc-393b-33e2-a62b-beadf483d5e9","instanceIdentifier":"3527df6a-3757-3223-38cd-61d0900ab2e2","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.5.0"},"properties":{"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","bootstrap.servers":"b-1.esbkafkaclusterdev.l5iqlr.c2.kafka.eu-north-1.amazonaws.com:9092","sasl.kerberos.service.name":null,"security.protocol":"PLAINTEXT","SSL Context Service":null,"sasl.mechanism":"GSSAPI","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"85db0fd8-0199-1000-996a-78aeb09d036c"},{"identifier":"647184b8-c8d6-3a72-bd17-1212d7235db6","instanceIdentifier":"85ffdbf4-0199-1000-a0ed-c46cd740ed4b","name":"MongoDBControllerService","comments":"","type":"org.apache.nifi.mongodb.MongoDBControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-services-nar","version":"2.5.0"},"properties":{"SSL Context Service":null,"Mongo URI":"mongodb://10.1.131.206:27017/?directConnection=true","Database User":null,"Write Concern":"ACKNOWLEDGED"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Mongo URI":{"name":"Mongo URI","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Concern":{"name":"Write Concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.mongodb.MongoDBClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-client-service-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802"},{"identifier":"f5fca0e2-491d-37f7-8e24-356cce486027","instanceIdentifier":"866fe57d-0199-1000-094b-8275e9db920c","name":"GCPCredentialsControllerService-stage","comments":"","type":"org.apache.nifi.processors.gcp.credentials.service.GCPCredentialsControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.5.0"},"properties":{"proxy-configuration-service":null,"compute-engine-credentials":"false","Delegation Strategy":"Service Account","application-default-credentials":"false","service-account-json-file":null,"Delegation User":null},"propertyDescriptors":{"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"compute-engine-credentials":{"name":"compute-engine-credentials","displayName":"Use Compute Engine Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delegation Strategy":{"name":"Delegation Strategy","displayName":"Delegation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"application-default-credentials":{"name":"application-default-credentials","displayName":"Use Application Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"service-account-json-file":{"name":"service-account-json-file","displayName":"Service Account JSON File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Delegation User":{"name":"Delegation User","displayName":"Delegation User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"service-account-json":{"name":"service-account-json","displayName":"Service Account JSON","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.gcp.credentials.service.GCPCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802"},{"identifier":"e4b80c48-f767-3a3d-9c03-c901ece8abb6","instanceIdentifier":"880d2ccf-0199-1000-dac5-292af6043c74","name":"GCPCredentialsControllerService-crm-dev","comments":"","type":"org.apache.nifi.processors.gcp.credentials.service.GCPCredentialsControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"2.5.0"},"properties":{"proxy-configuration-service":null,"compute-engine-credentials":"false","Delegation Strategy":"Service Account","application-default-credentials":"false","service-account-json-file":null,"Delegation User":null},"propertyDescriptors":{"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"compute-engine-credentials":{"name":"compute-engine-credentials","displayName":"Use Compute Engine Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delegation Strategy":{"name":"Delegation Strategy","displayName":"Delegation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"application-default-credentials":{"name":"application-default-credentials","displayName":"Use Application Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"service-account-json-file":{"name":"service-account-json-file","displayName":"Service Account JSON File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Delegation User":{"name":"Delegation User","displayName":"Delegation User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"service-account-json":{"name":"service-account-json","displayName":"Service Account JSON","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.gcp.credentials.service.GCPCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"09fb149b-2abc-38b0-8ac9-fff6783b1802"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}
