default/ex-zoho-1c-account.json
{
  "externalControllerServices" : {
    "48317afc-393b-33e2-a62b-beadf483d5e9" : {
      "identifier" : "48317afc-393b-33e2-a62b-beadf483d5e9",
      "name" : "Kafka3ConnectionService"
    }
  },
  "flow" : {
    "createdTimestamp" : 1761134669346,
    "description" : "",
    "identifier" : "ex-zoho-1c-account",
    "lastModifiedTimestamp" : 1761134669346,
    "name" : "ex-zoho-1c-account",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : {
      "48317afc-393b-33e2-a62b-beadf483d5e9" : {
        "identifier" : "48317afc-393b-33e2-a62b-beadf483d5e9",
        "name" : "Kafka3ConnectionService"
      }
    },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "ex-zoho-1c-account",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "8a0843f3-7eb7-3688-a3f1-e90f1268412e",
          "name" : "JoltTransformJSON",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "02f8b9d0-c2af-3bb1-ba55-fc17a0b5d261",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure", "unmatched" ],
        "source" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "06102fd8-2756-3fa5-9ee3-66af946473ac",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "6634933f-d06c-3ae9-bf35-9542b3430e99",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "04d74b69-9d79-324f-ad89-01551c51d8da",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "94b98bbb-cff0-3522-8fcd-1b1dddc58773",
          "name" : "ConsumeKafka",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "05ff7c0c-0199-1000-93d5-b7663caaffad",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "0d979fd6-124f-3874-93a6-476f1c9bb091",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "0a853995-0199-1000-5629-e23f7cf80812",
          "name" : "JoltTransformJSON",
          "type" : "PROCESSOR"
        },
        "zIndex" : 18
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "05ff7c0c-0199-1000-93d5-b7663caaffad",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "16182e1e-f5a9-372e-949c-0640f6550f2c",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "d9ca182a-e53b-3062-81c6-f69d2f360e5a",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 11
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "8a0843f3-7eb7-3688-a3f1-e90f1268412e",
          "name" : "JoltTransformJSON",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "2d71a09b-401e-35e2-b584-fbfb2bf6e512",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "Failure", "No Retry", "Retry" ],
        "source" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "97df68e2-6a9b-3697-b159-b272f262b79e",
          "name" : "InvokeHTTP",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "05ff7c0c-0199-1000-93d5-b7663caaffad",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "39d4ecd8-ef58-3496-ba9f-f56d31b16afb",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "1f49445b-b7d1-3424-8edb-3843eb34ddd5",
          "name" : "JoltTransformJSON",
          "type" : "PROCESSOR"
        },
        "zIndex" : 14
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "f7c784cb-af9d-35ef-90a1-4b430a4caa09",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "4b9b40a7-4afc-3621-9671-5c469eca743e",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
          "id" : "61f6efbe-2ad2-3a3b-aad8-195a6c83dd2c",
          "name" : "out",
          "type" : "OUTPUT_PORT"
        },
        "zIndex" : 16
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "044531c4-c527-35d6-abd1-8b2673930ebd",
          "id" : "72d05cc0-1e70-3cb2-9c76-14fd36df919f",
          "name" : "in",
          "type" : "INPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "593d937a-c203-398c-bda4-a8e0cbc408bc",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "06102fd8-2756-3fa5-9ee3-66af946473ac",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "zIndex" : 1
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
          "id" : "0ab5a903-0199-1000-22be-591dd12f7185",
          "name" : "in",
          "type" : "INPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "630e5b8b-2caa-3210-83df-be96c108460c",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "0a853995-0199-1000-5629-e23f7cf80812",
          "name" : "JoltTransformJSON",
          "type" : "PROCESSOR"
        },
        "zIndex" : 20
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "d9ca182a-e53b-3062-81c6-f69d2f360e5a",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "634ebe92-8c50-32a1-b96f-15bdfa45a5c3",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "044531c4-c527-35d6-abd1-8b2673930ebd",
          "id" : "26da296d-aed6-3ca5-bcaf-1e202c27db7f",
          "name" : "out",
          "type" : "OUTPUT_PORT"
        },
        "zIndex" : 7
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "8a0843f3-7eb7-3688-a3f1-e90f1268412e",
          "name" : "JoltTransformJSON",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "6f22f8d6-7d62-3c85-98fd-5cd5ea0a7870",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "Failure", "No Retry", "Retry" ],
        "source" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "ddc18230-c846-37ce-bea0-6070f9ffe638",
          "name" : "InvokeHTTP",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "97df68e2-6a9b-3697-b159-b272f262b79e",
          "name" : "InvokeHTTP",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "7888db0e-bd0e-34e7-aeb9-39e3dc43d6d7",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "6634933f-d06c-3ae9-bf35-9542b3430e99",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
          "id" : "46c481f7-63c6-3832-97e7-fa0793bcf7cc",
          "name" : "in",
          "type" : "INPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "7b8f55a1-f75a-353f-b514-5db0e880b859",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "1f49445b-b7d1-3424-8edb-3843eb34ddd5",
          "name" : "JoltTransformJSON",
          "type" : "PROCESSOR"
        },
        "zIndex" : 13
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "1f49445b-b7d1-3424-8edb-3843eb34ddd5",
          "name" : "JoltTransformJSON",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "7d5563f8-bb91-393f-a437-b1399d6a8b7c",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "d9ca182a-e53b-3062-81c6-f69d2f360e5a",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 12
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "8a0843f3-7eb7-3688-a3f1-e90f1268412e",
          "name" : "JoltTransformJSON",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "8397ed32-9249-3f65-ad03-4904e7dd25e6",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure", "unmatched" ],
        "source" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "0e408bbd-5714-34f2-b460-4fd8b6ccb29f",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "0a853995-0199-1000-5629-e23f7cf80812",
          "name" : "JoltTransformJSON",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "95a1f78c-fc78-31f7-a6c0-78a46fe52db9",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "f7c784cb-af9d-35ef-90a1-4b430a4caa09",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 19
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "05ff7c0c-0199-1000-93d5-b7663caaffad",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "9a1602b3-f266-362f-a812-41de647f85fb",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "f7c784cb-af9d-35ef-90a1-4b430a4caa09",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 17
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "1c4adfb0-e96d-39ad-83f3-35dd9f259961",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "9fbafcb7-2aaf-391a-b76b-02e933e1a886",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
          "id" : "0ab5a904-0199-1000-6223-0d1489a5ec83",
          "name" : "out",
          "type" : "OUTPUT_PORT"
        },
        "zIndex" : 21
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "ddc18230-c846-37ce-bea0-6070f9ffe638",
          "name" : "InvokeHTTP",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "a160cb5d-a50d-3f47-a34c-984e7d36711b",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "0e408bbd-5714-34f2-b460-4fd8b6ccb29f",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "8a0843f3-7eb7-3688-a3f1-e90f1268412e",
          "name" : "JoltTransformJSON",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "af83f02e-784a-39d8-b1dd-9e19f7795a40",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "044531c4-c527-35d6-abd1-8b2673930ebd",
          "id" : "f2b717ef-d840-35ed-815d-d79bda39c83b",
          "name" : "error",
          "type" : "OUTPUT_PORT"
        },
        "zIndex" : 4
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "0e408bbd-5714-34f2-b460-4fd8b6ccb29f",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "b060ff7a-fec8-32a0-89e9-60d7b03be382",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "Response" ],
        "source" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "97df68e2-6a9b-3697-b159-b272f262b79e",
          "name" : "InvokeHTTP",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "06102fd8-2756-3fa5-9ee3-66af946473ac",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "bfe8508c-5ab1-3987-ae3e-6e915f2a1515",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "Response" ],
        "source" : {
          "comments" : "",
          "groupId" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
          "id" : "ddc18230-c846-37ce-bea0-6070f9ffe638",
          "name" : "InvokeHTTP",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
      "inputPorts" : [ ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "Account1C2CRM",
      "outputPorts" : [ ],
      "position" : {
        "x" : -1514.0001168993685,
        "y" : -598.7501011705174
      },
      "processGroups" : [ {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "044531c4-c527-35d6-abd1-8b2673930ebd",
            "id" : "f2b717ef-d840-35ed-815d-d79bda39c83b",
            "name" : "error",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "044531c4-c527-35d6-abd1-8b2673930ebd",
          "identifier" : "20a1608e-88d7-3a19-9aa9-9d40fcca0b73",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "044531c4-c527-35d6-abd1-8b2673930ebd",
            "id" : "64ab58e3-8939-3c26-8163-bc1d392f06ee",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 8
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "044531c4-c527-35d6-abd1-8b2673930ebd",
            "id" : "64ab58e3-8939-3c26-8163-bc1d392f06ee",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "044531c4-c527-35d6-abd1-8b2673930ebd",
          "identifier" : "a20a7a96-16c2-33a5-aa41-b27eee2981a6",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "044531c4-c527-35d6-abd1-8b2673930ebd",
            "id" : "4791045b-7381-3825-9a20-b3a1cbcb5ba5",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 5
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "044531c4-c527-35d6-abd1-8b2673930ebd",
            "id" : "f2b717ef-d840-35ed-815d-d79bda39c83b",
            "name" : "error",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "044531c4-c527-35d6-abd1-8b2673930ebd",
          "identifier" : "a2bb949a-b5ab-3e0c-8f02-010813edb3cf",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "permission.denied" ],
          "source" : {
            "comments" : "",
            "groupId" : "044531c4-c527-35d6-abd1-8b2673930ebd",
            "id" : "ceb8a851-0032-3936-9ca2-e9581159fb60",
            "name" : "FetchFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 3
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "044531c4-c527-35d6-abd1-8b2673930ebd",
            "id" : "ceb8a851-0032-3936-9ca2-e9581159fb60",
            "name" : "FetchFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "044531c4-c527-35d6-abd1-8b2673930ebd",
          "identifier" : "b87329a0-d105-35fa-ae02-47fba581e558",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "044531c4-c527-35d6-abd1-8b2673930ebd",
            "id" : "72d05cc0-1e70-3cb2-9c76-14fd36df919f",
            "name" : "in",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 1
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "044531c4-c527-35d6-abd1-8b2673930ebd",
            "id" : "f2b717ef-d840-35ed-815d-d79bda39c83b",
            "name" : "error",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "044531c4-c527-35d6-abd1-8b2673930ebd",
          "identifier" : "c8ab575e-d34f-3629-afa5-5238eb9591e4",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Failure", "No Retry", "Retry" ],
          "source" : {
            "comments" : "",
            "groupId" : "044531c4-c527-35d6-abd1-8b2673930ebd",
            "id" : "4791045b-7381-3825-9a20-b3a1cbcb5ba5",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 6
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "044531c4-c527-35d6-abd1-8b2673930ebd",
            "id" : "4791045b-7381-3825-9a20-b3a1cbcb5ba5",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "044531c4-c527-35d6-abd1-8b2673930ebd",
          "identifier" : "d1d13fca-8a87-3889-b986-44fe5d863b89",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "not.found" ],
          "source" : {
            "comments" : "",
            "groupId" : "044531c4-c527-35d6-abd1-8b2673930ebd",
            "id" : "ceb8a851-0032-3936-9ca2-e9581159fb60",
            "name" : "FetchFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 4
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "044531c4-c527-35d6-abd1-8b2673930ebd",
            "id" : "26da296d-aed6-3ca5-bcaf-1e202c27db7f",
            "name" : "out",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "044531c4-c527-35d6-abd1-8b2673930ebd",
          "identifier" : "e8e8a333-6da0-3d43-b6bb-a36777a302e6",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched", "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "044531c4-c527-35d6-abd1-8b2673930ebd",
            "id" : "64ab58e3-8939-3c26-8163-bc1d392f06ee",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 7
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "044531c4-c527-35d6-abd1-8b2673930ebd",
            "id" : "64ab58e3-8939-3c26-8163-bc1d392f06ee",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "044531c4-c527-35d6-abd1-8b2673930ebd",
          "identifier" : "eb1e86e3-cc15-3d2a-abf5-71f47fa52d96",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "044531c4-c527-35d6-abd1-8b2673930ebd",
            "id" : "ceb8a851-0032-3936-9ca2-e9581159fb60",
            "name" : "FetchFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 2
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "executionEngine" : "INHERITED",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "044531c4-c527-35d6-abd1-8b2673930ebd",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "044531c4-c527-35d6-abd1-8b2673930ebd",
          "identifier" : "72d05cc0-1e70-3cb2-9c76-14fd36df919f",
          "name" : "in",
          "portFunction" : "STANDARD",
          "position" : {
            "x" : -696.0,
            "y" : 712.0
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "labels" : [ ],
        "maxConcurrentTasks" : 1,
        "name" : "auth",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "044531c4-c527-35d6-abd1-8b2673930ebd",
          "identifier" : "26da296d-aed6-3ca5-bcaf-1e202c27db7f",
          "name" : "out",
          "portFunction" : "STANDARD",
          "position" : {
            "x" : -688.0,
            "y" : 1456.0
          },
          "scheduledState" : "ENABLED",
          "type" : "OUTPUT_PORT"
        }, {
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "044531c4-c527-35d6-abd1-8b2673930ebd",
          "identifier" : "f2b717ef-d840-35ed-815d-d79bda39c83b",
          "name" : "error",
          "portFunction" : "STANDARD",
          "position" : {
            "x" : -88.0,
            "y" : 1448.0
          },
          "scheduledState" : "ENABLED",
          "type" : "OUTPUT_PORT"
        } ],
        "position" : {
          "x" : -768.0,
          "y" : 456.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "Original" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.5.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "044531c4-c527-35d6-abd1-8b2673930ebd",
          "identifier" : "4791045b-7381-3825-9a20-b3a1cbcb5ba5",
          "maxBackoffPeriod" : "10 mins",
          "name" : "InvokeHTTP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -152.0,
            "y" : 1040.0
          },
          "properties" : {
            "Request Content-Encoding" : "DISABLED",
            "Request Multipart Form-Data Filename Enabled" : "true",
            "Request Chunked Transfer-Encoding Enabled" : "false",
            "HTTP/2 Disabled" : "False",
            "Connection Timeout" : "5 secs",
            "Response Cookie Strategy" : "DISABLED",
            "Socket Read Timeout" : "15 secs",
            "Socket Idle Connections" : "5",
            "Request Body Enabled" : "true",
            "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
            "HTTP URL" : "http://localhost:8112?key=CRM",
            "Socket Idle Timeout" : "5 mins",
            "Response Redirects Enabled" : "True",
            "Socket Write Timeout" : "15 secs",
            "Response FlowFile Naming Strategy" : "RANDOM",
            "Response Cache Enabled" : "false",
            "Request Date Header Enabled" : "True",
            "Request Failure Penalization Enabled" : "false",
            "Response Body Attribute Size" : "256",
            "Response Generation Required" : "false",
            "Response Header Request Attributes Enabled" : "false",
            "HTTP Method" : "GET",
            "Request Content-Type" : "${mime.type}",
            "Request Digest Authentication Enabled" : "false",
            "Response Cache Size" : "10MB",
            "Response Body Ignored" : "false"
          },
          "propertyDescriptors" : {
            "Request Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Content-Encoding",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Request Multipart Form-Data Filename Enabled" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Multipart Form-Data Filename Enabled",
              "sensitive" : false
            },
            "Request Chunked Transfer-Encoding Enabled" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Chunked Transfer-Encoding Enabled",
              "sensitive" : false
            },
            "Response Header Request Attributes Prefix" : {
              "displayName" : "Response Header Request Attributes Prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Header Request Attributes Prefix",
              "sensitive" : false
            },
            "HTTP/2 Disabled" : {
              "displayName" : "HTTP/2 Disabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP/2 Disabled",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Connection Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "Response Cookie Strategy" : {
              "displayName" : "Response Cookie Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cookie Strategy",
              "sensitive" : false
            },
            "Request Password" : {
              "displayName" : "Request Password",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Password",
              "sensitive" : true
            },
            "Socket Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Read Timeout",
              "sensitive" : false
            },
            "Socket Idle Connections" : {
              "displayName" : "Socket Idle Connections",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Idle Connections",
              "sensitive" : false
            },
            "Request Body Enabled" : {
              "displayName" : "Request Body Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Body Enabled",
              "sensitive" : false
            },
            "OAuth2 Access Token Refresh Strategy" : {
              "displayName" : "OAuth2 Access Token Refresh Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "OAuth2 Access Token Refresh Strategy",
              "sensitive" : false
            },
            "HTTP URL" : {
              "displayName" : "HTTP URL",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP URL",
              "sensitive" : false
            },
            "Request OAuth2 Access Token Provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Request OAuth2 Access Token Provider",
              "sensitive" : false
            },
            "Socket Idle Timeout" : {
              "displayName" : "Socket Idle Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Idle Timeout",
              "sensitive" : false
            },
            "Response Redirects Enabled" : {
              "displayName" : "Response Redirects Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Redirects Enabled",
              "sensitive" : false
            },
            "Socket Write Timeout" : {
              "displayName" : "Socket Write Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Write Timeout",
              "sensitive" : false
            },
            "Request Header Attributes Pattern" : {
              "displayName" : "Request Header Attributes Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Header Attributes Pattern",
              "sensitive" : false
            },
            "Response FlowFile Naming Strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response FlowFile Naming Strategy",
              "sensitive" : false
            },
            "Response Cache Enabled" : {
              "displayName" : "Response Cache Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cache Enabled",
              "sensitive" : false
            },
            "Request Date Header Enabled" : {
              "displayName" : "Request Date Header Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Date Header Enabled",
              "sensitive" : false
            },
            "Request Failure Penalization Enabled" : {
              "displayName" : "Request Failure Penalization Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Failure Penalization Enabled",
              "sensitive" : false
            },
            "Response Body Attribute Size" : {
              "displayName" : "Response Body Attribute Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Attribute Size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Response Generation Required" : {
              "displayName" : "Response Generation Required",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Generation Required",
              "sensitive" : false
            },
            "Request User-Agent" : {
              "displayName" : "Request User-Agent",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request User-Agent",
              "sensitive" : false
            },
            "Response Header Request Attributes Enabled" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Header Request Attributes Enabled",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Request Username" : {
              "displayName" : "Request Username",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Username",
              "sensitive" : false
            },
            "Request Content-Type" : {
              "displayName" : "Request Content-Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Content-Type",
              "sensitive" : false
            },
            "Response Body Attribute Name" : {
              "displayName" : "Response Body Attribute Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Attribute Name",
              "sensitive" : false
            },
            "Request Digest Authentication Enabled" : {
              "displayName" : "Request Digest Authentication Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Digest Authentication Enabled",
              "sensitive" : false
            },
            "Request Multipart Form-Data Name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Multipart Form-Data Name",
              "sensitive" : false
            },
            "Response Cache Size" : {
              "displayName" : "Response Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cache Size",
              "sensitive" : false
            },
            "Response Body Ignored" : {
              "displayName" : "Response Body Ignored",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Ignored",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.5.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "044531c4-c527-35d6-abd1-8b2673930ebd",
          "identifier" : "64ab58e3-8939-3c26-8163-bc1d392f06ee",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -752.0,
            "y" : 1040.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "Max String Length" : "20 MB",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "Path Not Found Behavior" : "ignore",
            "access.token" : "$.access_token"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            },
            "access.token" : {
              "displayName" : "access.token",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "access.token",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.5.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "044531c4-c527-35d6-abd1-8b2673930ebd",
          "identifier" : "ceb8a851-0032-3936-9ca2-e9581159fb60",
          "maxBackoffPeriod" : "10 mins",
          "name" : "FetchFile",
          "penaltyDuration" : "1 sec",
          "position" : {
            "x" : -752.0,
            "y" : 840.0
          },
          "properties" : {
            "Move Conflict Strategy" : "Rename",
            "Log level when file not found" : "ERROR",
            "Log level when permission denied" : "ERROR",
            "File to Fetch" : "data/zoho/oauth2/${now():format(\"yyyyMMddHH\", \"GMT\")}.CRM",
            "Completion Strategy" : "None"
          },
          "propertyDescriptors" : {
            "Move Conflict Strategy" : {
              "displayName" : "Move Conflict Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Move Conflict Strategy",
              "sensitive" : false
            },
            "Log level when file not found" : {
              "displayName" : "Log level when file not found",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log level when file not found",
              "sensitive" : false
            },
            "Move Destination Directory" : {
              "displayName" : "Move Destination Directory",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Move Destination Directory",
              "sensitive" : false
            },
            "Log level when permission denied" : {
              "displayName" : "Log level when permission denied",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log level when permission denied",
              "sensitive" : false
            },
            "File to Fetch" : {
              "displayName" : "File to Fetch",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "File to Fetch",
              "sensitive" : false
            },
            "Completion Strategy" : {
              "displayName" : "Completion Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Completion Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.FetchFile",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "scheduledState" : "ENABLED",
        "statelessFlowTimeout" : "1 min"
      }, {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
            "id" : "0ab5a902-0199-1000-f78e-7575ac6d9cc4",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
          "identifier" : "0ab5a905-0199-1000-7af5-2e3831b21bc5",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Failure", "No Retry", "Retry" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
            "id" : "0ab5a8ff-0199-1000-f724-a84fff49a2d1",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 3
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
            "id" : "0ab5a8ff-0199-1000-f724-a84fff49a2d1",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
          "identifier" : "0ab5a906-0199-1000-b6f9-e581e7de62d7",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
            "id" : "0ab5a903-0199-1000-22be-591dd12f7185",
            "name" : "in",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 1
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
            "id" : "0ab5a900-0199-1000-adde-9d4ed10e3cae",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
          "identifier" : "0ab5a907-0199-1000-bdc8-a268f1047c82",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Original" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
            "id" : "0ab5a8ff-0199-1000-f724-a84fff49a2d1",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 4
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
            "id" : "0ab5a902-0199-1000-f78e-7575ac6d9cc4",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
          "identifier" : "0ab5a908-0199-1000-e8c3-11063acec317",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
            "id" : "0ab5a901-0199-1000-82a7-792dd03de071",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 6
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
            "id" : "0ab5a901-0199-1000-82a7-792dd03de071",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
          "identifier" : "0ab5a909-0199-1000-5b47-3e14019b9256",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
            "id" : "0ab5a8ff-0199-1000-f724-a84fff49a2d1",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 2
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
            "id" : "0ab5a904-0199-1000-6223-0d1489a5ec83",
            "name" : "out",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
          "identifier" : "0ab5a90a-0199-1000-8eb2-1acb146242a1",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
            "id" : "0ab5a901-0199-1000-82a7-792dd03de071",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 5
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "executionEngine" : "INHERITED",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
          "identifier" : "0ab5a903-0199-1000-22be-591dd12f7185",
          "name" : "in",
          "portFunction" : "STANDARD",
          "position" : {
            "x" : -888.0,
            "y" : -736.0
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "labels" : [ ],
        "maxConcurrentTasks" : 1,
        "name" : "upsertContacts",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
          "identifier" : "0ab5a904-0199-1000-6223-0d1489a5ec83",
          "name" : "out",
          "portFunction" : "STANDARD",
          "position" : {
            "x" : -888.0,
            "y" : -168.0
          },
          "scheduledState" : "ENABLED",
          "type" : "OUTPUT_PORT"
        } ],
        "position" : {
          "x" : -760.0,
          "y" : 1760.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.5.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
          "identifier" : "0ab5a8ff-0199-1000-f724-a84fff49a2d1",
          "maxBackoffPeriod" : "10 mins",
          "name" : "InvokeHTTP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -944.0,
            "y" : -600.0
          },
          "properties" : {
            "Request Content-Encoding" : "DISABLED",
            "Request Multipart Form-Data Filename Enabled" : "true",
            "Request Chunked Transfer-Encoding Enabled" : "false",
            "orgId" : "20106019965",
            "HTTP/2 Disabled" : "False",
            "Connection Timeout" : "5 secs",
            "Response Cookie Strategy" : "DISABLED",
            "Authorization" : "Zoho-oauthtoken ${access.token}",
            "Socket Read Timeout" : "15 secs",
            "Socket Idle Connections" : "5",
            "Request Body Enabled" : "true",
            "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
            "HTTP URL" : "https://www.zohoapis.eu/crm/v8/Contacts/upsert",
            "Socket Idle Timeout" : "5 mins",
            "Response Redirects Enabled" : "True",
            "Socket Write Timeout" : "15 secs",
            "Response FlowFile Naming Strategy" : "RANDOM",
            "Response Cache Enabled" : "false",
            "Request Date Header Enabled" : "True",
            "Request Failure Penalization Enabled" : "false",
            "Response Body Attribute Size" : "25600",
            "Response Generation Required" : "true",
            "Response Header Request Attributes Enabled" : "false",
            "HTTP Method" : "POST",
            "Request Content-Type" : "${mime.type}",
            "Response Body Attribute Name" : "response",
            "Request Digest Authentication Enabled" : "false",
            "Response Cache Size" : "10MB",
            "Response Body Ignored" : "false"
          },
          "propertyDescriptors" : {
            "Request Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Content-Encoding",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Request Multipart Form-Data Filename Enabled" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Multipart Form-Data Filename Enabled",
              "sensitive" : false
            },
            "Request Chunked Transfer-Encoding Enabled" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Chunked Transfer-Encoding Enabled",
              "sensitive" : false
            },
            "Response Header Request Attributes Prefix" : {
              "displayName" : "Response Header Request Attributes Prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Header Request Attributes Prefix",
              "sensitive" : false
            },
            "orgId" : {
              "displayName" : "orgId",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "orgId",
              "sensitive" : false
            },
            "HTTP/2 Disabled" : {
              "displayName" : "HTTP/2 Disabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP/2 Disabled",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Connection Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "Response Cookie Strategy" : {
              "displayName" : "Response Cookie Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cookie Strategy",
              "sensitive" : false
            },
            "Authorization" : {
              "displayName" : "Authorization",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "Authorization",
              "sensitive" : false
            },
            "Request Password" : {
              "displayName" : "Request Password",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Password",
              "sensitive" : true
            },
            "Socket Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Read Timeout",
              "sensitive" : false
            },
            "Socket Idle Connections" : {
              "displayName" : "Socket Idle Connections",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Idle Connections",
              "sensitive" : false
            },
            "Request Body Enabled" : {
              "displayName" : "Request Body Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Body Enabled",
              "sensitive" : false
            },
            "OAuth2 Access Token Refresh Strategy" : {
              "displayName" : "OAuth2 Access Token Refresh Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "OAuth2 Access Token Refresh Strategy",
              "sensitive" : false
            },
            "HTTP URL" : {
              "displayName" : "HTTP URL",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP URL",
              "sensitive" : false
            },
            "Request OAuth2 Access Token Provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Request OAuth2 Access Token Provider",
              "sensitive" : false
            },
            "Socket Idle Timeout" : {
              "displayName" : "Socket Idle Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Idle Timeout",
              "sensitive" : false
            },
            "Response Redirects Enabled" : {
              "displayName" : "Response Redirects Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Redirects Enabled",
              "sensitive" : false
            },
            "Socket Write Timeout" : {
              "displayName" : "Socket Write Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Write Timeout",
              "sensitive" : false
            },
            "Request Header Attributes Pattern" : {
              "displayName" : "Request Header Attributes Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Header Attributes Pattern",
              "sensitive" : false
            },
            "Response FlowFile Naming Strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response FlowFile Naming Strategy",
              "sensitive" : false
            },
            "Response Cache Enabled" : {
              "displayName" : "Response Cache Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cache Enabled",
              "sensitive" : false
            },
            "Request Date Header Enabled" : {
              "displayName" : "Request Date Header Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Date Header Enabled",
              "sensitive" : false
            },
            "Request Failure Penalization Enabled" : {
              "displayName" : "Request Failure Penalization Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Failure Penalization Enabled",
              "sensitive" : false
            },
            "Response Body Attribute Size" : {
              "displayName" : "Response Body Attribute Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Attribute Size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Response Generation Required" : {
              "displayName" : "Response Generation Required",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Generation Required",
              "sensitive" : false
            },
            "Request User-Agent" : {
              "displayName" : "Request User-Agent",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request User-Agent",
              "sensitive" : false
            },
            "Response Header Request Attributes Enabled" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Header Request Attributes Enabled",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Request Username" : {
              "displayName" : "Request Username",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Username",
              "sensitive" : false
            },
            "Request Content-Type" : {
              "displayName" : "Request Content-Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Content-Type",
              "sensitive" : false
            },
            "Response Body Attribute Name" : {
              "displayName" : "Response Body Attribute Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Attribute Name",
              "sensitive" : false
            },
            "Request Digest Authentication Enabled" : {
              "displayName" : "Request Digest Authentication Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Digest Authentication Enabled",
              "sensitive" : false
            },
            "Request Multipart Form-Data Name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Multipart Form-Data Name",
              "sensitive" : false
            },
            "Response Cache Size" : {
              "displayName" : "Response Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cache Size",
              "sensitive" : false
            },
            "Response Body Ignored" : {
              "displayName" : "Response Body Ignored",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Ignored",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.5.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
          "identifier" : "0ab5a900-0199-1000-adde-9d4ed10e3cae",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1560.0,
            "y" : -600.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "Log FlowFile Properties" : "true",
            "Log Level" : "info",
            "Attributes to Log" : "transaction_id,invokehttp.request.url,response",
            "attributes-to-log-regex" : ".*",
            "Output Format" : "Single Line",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "displayName" : "Log prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log prefix",
              "sensitive" : false
            },
            "character-set" : {
              "displayName" : "Character Set",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "Log FlowFile Properties" : {
              "displayName" : "Log FlowFile Properties",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log FlowFile Properties",
              "sensitive" : false
            },
            "Log Level" : {
              "displayName" : "Log Level",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log Level",
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "displayName" : "Attributes to Ignore by Regular Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "attributes-to-ignore-regex",
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "displayName" : "Attributes to Ignore",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore",
              "sensitive" : false
            },
            "Attributes to Log" : {
              "displayName" : "Attributes to Log",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Attributes to Log",
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "displayName" : "Attributes to Log by Regular Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "attributes-to-log-regex",
              "sensitive" : false
            },
            "Output Format" : {
              "displayName" : "Output Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output Format",
              "sensitive" : false
            },
            "Log Payload" : {
              "displayName" : "Log Payload",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log Payload",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.5.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
          "identifier" : "0ab5a901-0199-1000-82a7-792dd03de071",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -944.0,
            "y" : -400.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "Max String Length" : "20 MB",
            "Return Type" : "json",
            "zoho.accounts.id" : "$.data[0].details.id",
            "Null Value Representation" : "empty string",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "zoho.accounts.id" : {
              "displayName" : "zoho.accounts.id",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "zoho.accounts.id",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "2.5.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "0ab5a8fe-0199-1000-8d40-b589cf0eb267",
          "identifier" : "0ab5a902-0199-1000-f78e-7575ac6d9cc4",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -328.0,
            "y" : -608.0
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "scheduledState" : "ENABLED",
        "statelessFlowTimeout" : "1 min"
      }, {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
            "id" : "61f6efbe-2ad2-3a3b-aad8-195a6c83dd2c",
            "name" : "out",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
          "identifier" : "1b0e6ed9-c5d2-3144-a420-43635fa95723",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
            "id" : "60ea32a5-523d-3e57-a05c-e8937c5aa70d",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 5
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
            "id" : "60ea32a5-523d-3e57-a05c-e8937c5aa70d",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
          "identifier" : "2a656f23-508c-3f0c-89d2-7141eb684c5f",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
            "id" : "067a9d7e-0199-1000-a5c7-42593dc8c335",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 2
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
            "id" : "95e1ffde-3495-348c-969d-39dd067e6428",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
          "identifier" : "2bcb73ae-00a8-3ee8-979c-388094460501",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Original" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
            "id" : "067a9d7e-0199-1000-a5c7-42593dc8c335",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 4
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
            "id" : "067c81c8-0199-1000-e358-6c127e4a9703",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
          "identifier" : "44661277-cb69-333b-8fab-6f024a8d19bd",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Failure", "No Retry", "Retry" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
            "id" : "067a9d7e-0199-1000-a5c7-42593dc8c335",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 3
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
            "id" : "067c81c8-0199-1000-e358-6c127e4a9703",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
          "identifier" : "4638a729-cc88-3ab3-8e1f-b08bf8816eab",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
            "id" : "60ea32a5-523d-3e57-a05c-e8937c5aa70d",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 6
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
            "id" : "067a9d7e-0199-1000-a5c7-42593dc8c335",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
          "identifier" : "7041e8ab-0e58-3c69-b2fd-b10912389b43",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
            "id" : "46c481f7-63c6-3832-97e7-fa0793bcf7cc",
            "name" : "in",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 1
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "executionEngine" : "INHERITED",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
          "identifier" : "46c481f7-63c6-3832-97e7-fa0793bcf7cc",
          "name" : "in",
          "portFunction" : "STANDARD",
          "position" : {
            "x" : -888.0,
            "y" : -736.0
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "labels" : [ ],
        "maxConcurrentTasks" : 1,
        "name" : "upsertAccounts",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
          "identifier" : "61f6efbe-2ad2-3a3b-aad8-195a6c83dd2c",
          "name" : "out",
          "portFunction" : "STANDARD",
          "position" : {
            "x" : -888.0,
            "y" : -168.0
          },
          "scheduledState" : "ENABLED",
          "type" : "OUTPUT_PORT"
        } ],
        "position" : {
          "x" : -768.0,
          "y" : 1112.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.5.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
          "identifier" : "067a9d7e-0199-1000-a5c7-42593dc8c335",
          "maxBackoffPeriod" : "10 mins",
          "name" : "InvokeHTTP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -944.0,
            "y" : -600.0
          },
          "properties" : {
            "Request Content-Encoding" : "DISABLED",
            "Request Multipart Form-Data Filename Enabled" : "true",
            "Request Chunked Transfer-Encoding Enabled" : "false",
            "orgId" : "20106019965",
            "HTTP/2 Disabled" : "False",
            "Connection Timeout" : "5 secs",
            "Response Cookie Strategy" : "DISABLED",
            "Authorization" : "Zoho-oauthtoken ${access.token}",
            "Socket Read Timeout" : "15 secs",
            "Socket Idle Connections" : "5",
            "Request Body Enabled" : "true",
            "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
            "HTTP URL" : "https://www.zohoapis.eu/crm/v8/Accounts/upsert",
            "Socket Idle Timeout" : "5 mins",
            "Response Redirects Enabled" : "True",
            "Socket Write Timeout" : "15 secs",
            "Response FlowFile Naming Strategy" : "RANDOM",
            "Response Cache Enabled" : "false",
            "Request Date Header Enabled" : "True",
            "Request Failure Penalization Enabled" : "false",
            "Response Body Attribute Size" : "25600",
            "Response Generation Required" : "true",
            "Response Header Request Attributes Enabled" : "false",
            "HTTP Method" : "POST",
            "Request Content-Type" : "${mime.type}",
            "Response Body Attribute Name" : "response",
            "Request Digest Authentication Enabled" : "false",
            "Response Cache Size" : "10MB",
            "Response Body Ignored" : "false"
          },
          "propertyDescriptors" : {
            "Request Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Content-Encoding",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Request Multipart Form-Data Filename Enabled" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Multipart Form-Data Filename Enabled",
              "sensitive" : false
            },
            "Request Chunked Transfer-Encoding Enabled" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Chunked Transfer-Encoding Enabled",
              "sensitive" : false
            },
            "Response Header Request Attributes Prefix" : {
              "displayName" : "Response Header Request Attributes Prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Header Request Attributes Prefix",
              "sensitive" : false
            },
            "orgId" : {
              "displayName" : "orgId",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "orgId",
              "sensitive" : false
            },
            "HTTP/2 Disabled" : {
              "displayName" : "HTTP/2 Disabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP/2 Disabled",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Connection Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "Response Cookie Strategy" : {
              "displayName" : "Response Cookie Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cookie Strategy",
              "sensitive" : false
            },
            "Authorization" : {
              "displayName" : "Authorization",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "Authorization",
              "sensitive" : false
            },
            "Request Password" : {
              "displayName" : "Request Password",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Password",
              "sensitive" : true
            },
            "Socket Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Read Timeout",
              "sensitive" : false
            },
            "Socket Idle Connections" : {
              "displayName" : "Socket Idle Connections",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Idle Connections",
              "sensitive" : false
            },
            "Request Body Enabled" : {
              "displayName" : "Request Body Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Body Enabled",
              "sensitive" : false
            },
            "OAuth2 Access Token Refresh Strategy" : {
              "displayName" : "OAuth2 Access Token Refresh Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "OAuth2 Access Token Refresh Strategy",
              "sensitive" : false
            },
            "HTTP URL" : {
              "displayName" : "HTTP URL",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP URL",
              "sensitive" : false
            },
            "Request OAuth2 Access Token Provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Request OAuth2 Access Token Provider",
              "sensitive" : false
            },
            "Socket Idle Timeout" : {
              "displayName" : "Socket Idle Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Idle Timeout",
              "sensitive" : false
            },
            "Response Redirects Enabled" : {
              "displayName" : "Response Redirects Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Redirects Enabled",
              "sensitive" : false
            },
            "Socket Write Timeout" : {
              "displayName" : "Socket Write Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Write Timeout",
              "sensitive" : false
            },
            "Request Header Attributes Pattern" : {
              "displayName" : "Request Header Attributes Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Header Attributes Pattern",
              "sensitive" : false
            },
            "Response FlowFile Naming Strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response FlowFile Naming Strategy",
              "sensitive" : false
            },
            "Response Cache Enabled" : {
              "displayName" : "Response Cache Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cache Enabled",
              "sensitive" : false
            },
            "Request Date Header Enabled" : {
              "displayName" : "Request Date Header Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Date Header Enabled",
              "sensitive" : false
            },
            "Request Failure Penalization Enabled" : {
              "displayName" : "Request Failure Penalization Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Failure Penalization Enabled",
              "sensitive" : false
            },
            "Response Body Attribute Size" : {
              "displayName" : "Response Body Attribute Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Attribute Size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Response Generation Required" : {
              "displayName" : "Response Generation Required",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Generation Required",
              "sensitive" : false
            },
            "Request User-Agent" : {
              "displayName" : "Request User-Agent",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request User-Agent",
              "sensitive" : false
            },
            "Response Header Request Attributes Enabled" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Header Request Attributes Enabled",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Request Username" : {
              "displayName" : "Request Username",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Username",
              "sensitive" : false
            },
            "Request Content-Type" : {
              "displayName" : "Request Content-Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Content-Type",
              "sensitive" : false
            },
            "Response Body Attribute Name" : {
              "displayName" : "Response Body Attribute Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Attribute Name",
              "sensitive" : false
            },
            "Request Digest Authentication Enabled" : {
              "displayName" : "Request Digest Authentication Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Digest Authentication Enabled",
              "sensitive" : false
            },
            "Request Multipart Form-Data Name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Multipart Form-Data Name",
              "sensitive" : false
            },
            "Response Cache Size" : {
              "displayName" : "Response Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cache Size",
              "sensitive" : false
            },
            "Response Body Ignored" : {
              "displayName" : "Response Body Ignored",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Ignored",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "1 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "2.5.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
          "identifier" : "067c81c8-0199-1000-e358-6c127e4a9703",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -328.0,
            "y" : -608.0
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.5.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
          "identifier" : "60ea32a5-523d-3e57-a05c-e8937c5aa70d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -944.0,
            "y" : -400.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "Max String Length" : "20 MB",
            "Return Type" : "json",
            "zoho.accounts.id" : "$.data[0].details.id",
            "Null Value Representation" : "empty string",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "zoho.accounts.id" : {
              "displayName" : "zoho.accounts.id",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "zoho.accounts.id",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.5.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8ae56d69-f7ab-3ee3-9549-d85efb7bfc4c",
          "identifier" : "95e1ffde-3495-348c-969d-39dd067e6428",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1560.0,
            "y" : -600.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "Log FlowFile Properties" : "true",
            "Log Level" : "info",
            "Attributes to Log" : "transaction_id,invokehttp.request.url,response",
            "attributes-to-log-regex" : ".*",
            "Output Format" : "Single Line",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "displayName" : "Log prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log prefix",
              "sensitive" : false
            },
            "character-set" : {
              "displayName" : "Character Set",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "Log FlowFile Properties" : {
              "displayName" : "Log FlowFile Properties",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log FlowFile Properties",
              "sensitive" : false
            },
            "Log Level" : {
              "displayName" : "Log Level",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log Level",
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "displayName" : "Attributes to Ignore by Regular Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "attributes-to-ignore-regex",
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "displayName" : "Attributes to Ignore",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore",
              "sensitive" : false
            },
            "Attributes to Log" : {
              "displayName" : "Attributes to Log",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Attributes to Log",
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "displayName" : "Attributes to Log by Regular Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "attributes-to-log-regex",
              "sensitive" : false
            },
            "Output Format" : {
              "displayName" : "Output Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Output Format",
              "sensitive" : false
            },
            "Log Payload" : {
              "displayName" : "Log Payload",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Log Payload",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "scheduledState" : "ENABLED",
        "statelessFlowTimeout" : "1 min"
      } ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-update-attribute-nar",
          "group" : "org.apache.nifi",
          "version" : "2.5.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "05ff7c0c-0199-1000-93d5-b7663caaffad",
        "maxBackoffPeriod" : "10 mins",
        "name" : "UpdateAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -1888.0,
          "y" : 1016.0
        },
        "properties" : {
          "Store State" : "Do not store state",
          "canonical-value-lookup-cache-size" : "100",
          "mime.type" : "application/xml",
          "config.mapper.host" : "https://api.novaposhta.international:8243"
        },
        "propertyDescriptors" : {
          "Delete Attributes Expression" : {
            "displayName" : "Delete Attributes Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Attributes Expression",
            "sensitive" : false
          },
          "Store State" : {
            "displayName" : "Store State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Store State",
            "sensitive" : false
          },
          "canonical-value-lookup-cache-size" : {
            "displayName" : "Cache Value Lookup Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "canonical-value-lookup-cache-size",
            "sensitive" : false
          },
          "mime.type" : {
            "displayName" : "mime.type",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "mime.type",
            "sensitive" : false
          },
          "Stateful Variables Initial Value" : {
            "displayName" : "Stateful Variables Initial Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stateful Variables Initial Value",
            "sensitive" : false
          },
          "config.mapper.host" : {
            "displayName" : "config.mapper.host",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "config.mapper.host",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.5.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "06102fd8-2756-3fa5-9ee3-66af946473ac",
        "maxBackoffPeriod" : "10 mins",
        "name" : "EvaluateJsonPath",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -752.0,
          "y" : 240.0
        },
        "properties" : {
          "Destination" : "flowfile-attribute",
          "transform.account_name" : "$.data.[0].Account_Name",
          "transform.legal_id" : "$.data.[0].TaxNumber",
          "transform.account_number" : "$.data.[0].Account_Number",
          "Max String Length" : "20 MB",
          "transform.message" : "$",
          "Return Type" : "json",
          "Null Value Representation" : "empty string",
          "Path Not Found Behavior" : "ignore"
        },
        "propertyDescriptors" : {
          "Destination" : {
            "displayName" : "Destination",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Destination",
            "sensitive" : false
          },
          "transform.account_name" : {
            "displayName" : "transform.account_name",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "transform.account_name",
            "sensitive" : false
          },
          "transform.legal_id" : {
            "displayName" : "transform.legal_id",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "transform.legal_id",
            "sensitive" : false
          },
          "transform.account_number" : {
            "displayName" : "transform.account_number",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "transform.account_number",
            "sensitive" : false
          },
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "transform.message" : {
            "displayName" : "transform.message",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "transform.message",
            "sensitive" : false
          },
          "Return Type" : {
            "displayName" : "Return Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Return Type",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "Path Not Found Behavior" : {
            "displayName" : "Path Not Found Behavior",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Path Not Found Behavior",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-jolt-nar",
          "group" : "org.apache.nifi",
          "version" : "2.5.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "0a853995-0199-1000-5629-e23f7cf80812",
        "maxBackoffPeriod" : "10 mins",
        "name" : "JoltTransformJSON",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -752.0,
          "y" : 1544.0
        },
        "properties" : {
          "JSON Source" : "FLOW_FILE",
          "Jolt Transform" : "jolt-transform-chain",
          "Max String Length" : "20 MB",
          "Transform Cache Size" : "1",
          "Pretty Print" : "false",
          "Jolt Specification" : "[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"data\": {\n        \"0\": {\n          \"Contacts\": \"data\"\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"modify-default-beta\",\n    \"spec\": {\n      \"data\": {\n        \"*\": {\n          \"Account_Name\": {\n            \"id\": \"${zoho.accounts.id}\"\n          }\n        }\n      }\n    }\n  }\n]"
        },
        "propertyDescriptors" : {
          "JSON Source" : {
            "displayName" : "JSON Source",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "JSON Source",
            "sensitive" : false
          },
          "Jolt Transform" : {
            "displayName" : "Jolt Transform",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Jolt Transform",
            "sensitive" : false
          },
          "JSON Source Attribute" : {
            "displayName" : "JSON Source Attribute",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "JSON Source Attribute",
            "sensitive" : false
          },
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "Transform Cache Size" : {
            "displayName" : "Transform Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Transform Cache Size",
            "sensitive" : false
          },
          "Custom Transformation Class Name" : {
            "displayName" : "Custom Transformation Class Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Custom Transformation Class Name",
            "sensitive" : false
          },
          "Custom Module Directory" : {
            "displayName" : "Custom Module Directory",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Custom Module Directory",
            "resourceDefinition" : {
              "cardinality" : "MULTIPLE",
              "resourceTypes" : [ "DIRECTORY", "FILE" ]
            },
            "sensitive" : false
          },
          "Pretty Print" : {
            "displayName" : "Pretty Print",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Pretty Print",
            "sensitive" : false
          },
          "Jolt Specification" : {
            "displayName" : "Jolt Specification",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Jolt Specification",
            "resourceDefinition" : {
              "cardinality" : "SINGLE",
              "resourceTypes" : [ "FILE", "TEXT" ]
            },
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.5.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "0e408bbd-5714-34f2-b460-4fd8b6ccb29f",
        "maxBackoffPeriod" : "10 mins",
        "name" : "EvaluateJsonPath",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -752.0,
          "y" : -152.0
        },
        "properties" : {
          "Destination" : "flowfile-attribute",
          "Max String Length" : "20 MB",
          "income.message.account" : "$",
          "Return Type" : "json",
          "Null Value Representation" : "empty string",
          "Path Not Found Behavior" : "ignore"
        },
        "propertyDescriptors" : {
          "Destination" : {
            "displayName" : "Destination",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Destination",
            "sensitive" : false
          },
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "income.message.account" : {
            "displayName" : "income.message.account",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "income.message.account",
            "sensitive" : false
          },
          "Return Type" : {
            "displayName" : "Return Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Return Type",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "Path Not Found Behavior" : {
            "displayName" : "Path Not Found Behavior",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Path Not Found Behavior",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "success" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-update-attribute-nar",
          "group" : "org.apache.nifi",
          "version" : "2.5.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "1c4adfb0-e96d-39ad-83f3-35dd9f259961",
        "maxBackoffPeriod" : "10 mins",
        "name" : "UpdateAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -744.0,
          "y" : 2008.0
        },
        "properties" : {
          "Store State" : "Do not store state",
          "canonical-value-lookup-cache-size" : "100"
        },
        "propertyDescriptors" : {
          "Delete Attributes Expression" : {
            "displayName" : "Delete Attributes Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Attributes Expression",
            "sensitive" : false
          },
          "Store State" : {
            "displayName" : "Store State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Store State",
            "sensitive" : false
          },
          "canonical-value-lookup-cache-size" : {
            "displayName" : "Cache Value Lookup Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "canonical-value-lookup-cache-size",
            "sensitive" : false
          },
          "Stateful Variables Initial Value" : {
            "displayName" : "Stateful Variables Initial Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stateful Variables Initial Value",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-jolt-nar",
          "group" : "org.apache.nifi",
          "version" : "2.5.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "1f49445b-b7d1-3424-8edb-3843eb34ddd5",
        "maxBackoffPeriod" : "10 mins",
        "name" : "JoltTransformJSON",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -752.0,
          "y" : 896.0
        },
        "properties" : {
          "JSON Source" : "FLOW_FILE",
          "Jolt Transform" : "jolt-transform-chain",
          "Max String Length" : "20 MB",
          "Transform Cache Size" : "1",
          "Pretty Print" : "false",
          "Jolt Specification" : "[\n\n  {\n    \"operation\": \"remove\",\n    \"spec\": {\n      \"data\": {\n        \"0\": {\n          \"Contacts\": \"\"\n        }\n      }\n    }\n  }\n]\n"
        },
        "propertyDescriptors" : {
          "JSON Source" : {
            "displayName" : "JSON Source",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "JSON Source",
            "sensitive" : false
          },
          "Jolt Transform" : {
            "displayName" : "Jolt Transform",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Jolt Transform",
            "sensitive" : false
          },
          "JSON Source Attribute" : {
            "displayName" : "JSON Source Attribute",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "JSON Source Attribute",
            "sensitive" : false
          },
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "Transform Cache Size" : {
            "displayName" : "Transform Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Transform Cache Size",
            "sensitive" : false
          },
          "Custom Transformation Class Name" : {
            "displayName" : "Custom Transformation Class Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Custom Transformation Class Name",
            "sensitive" : false
          },
          "Custom Module Directory" : {
            "displayName" : "Custom Module Directory",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Custom Module Directory",
            "resourceDefinition" : {
              "cardinality" : "MULTIPLE",
              "resourceTypes" : [ "DIRECTORY", "FILE" ]
            },
            "sensitive" : false
          },
          "Pretty Print" : {
            "displayName" : "Pretty Print",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Pretty Print",
            "sensitive" : false
          },
          "Jolt Specification" : {
            "displayName" : "Jolt Specification",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Jolt Specification",
            "resourceDefinition" : {
              "cardinality" : "SINGLE",
              "resourceTypes" : [ "FILE", "TEXT" ]
            },
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-update-attribute-nar",
          "group" : "org.apache.nifi",
          "version" : "2.5.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "6634933f-d06c-3ae9-bf35-9542b3430e99",
        "maxBackoffPeriod" : "10 mins",
        "name" : "UpdateAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -752.0,
          "y" : -544.0
        },
        "properties" : {
          "transaction_id" : "${uuid}",
          "filename" : "${account_number}",
          "Store State" : "Do not store state",
          "canonical-value-lookup-cache-size" : "100",
          "mime.type" : "application/xml",
          "config.mapper.host" : "https://api.novaposhta.international:8243"
        },
        "propertyDescriptors" : {
          "transaction_id" : {
            "displayName" : "transaction_id",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "transaction_id",
            "sensitive" : false
          },
          "Delete Attributes Expression" : {
            "displayName" : "Delete Attributes Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Attributes Expression",
            "sensitive" : false
          },
          "filename" : {
            "displayName" : "filename",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "filename",
            "sensitive" : false
          },
          "Store State" : {
            "displayName" : "Store State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Store State",
            "sensitive" : false
          },
          "canonical-value-lookup-cache-size" : {
            "displayName" : "Cache Value Lookup Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "canonical-value-lookup-cache-size",
            "sensitive" : false
          },
          "mime.type" : {
            "displayName" : "mime.type",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "mime.type",
            "sensitive" : false
          },
          "Stateful Variables Initial Value" : {
            "displayName" : "Stateful Variables Initial Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stateful Variables Initial Value",
            "sensitive" : false
          },
          "config.mapper.host" : {
            "displayName" : "config.mapper.host",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "config.mapper.host",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-jolt-nar",
          "group" : "org.apache.nifi",
          "version" : "2.5.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "8a0843f3-7eb7-3688-a3f1-e90f1268412e",
        "maxBackoffPeriod" : "10 mins",
        "name" : "JoltTransformJSON",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -136.0,
          "y" : 40.0
        },
        "properties" : {
          "JSON Source" : "FLOW_FILE",
          "Jolt Transform" : "jolt-transform-chain",
          "Max String Length" : "20 MB",
          "Transform Cache Size" : "1",
          "Pretty Print" : "false"
        },
        "propertyDescriptors" : {
          "JSON Source" : {
            "displayName" : "JSON Source",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "JSON Source",
            "sensitive" : false
          },
          "Jolt Transform" : {
            "displayName" : "Jolt Transform",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Jolt Transform",
            "sensitive" : false
          },
          "JSON Source Attribute" : {
            "displayName" : "JSON Source Attribute",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "JSON Source Attribute",
            "sensitive" : false
          },
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "Transform Cache Size" : {
            "displayName" : "Transform Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Transform Cache Size",
            "sensitive" : false
          },
          "Custom Transformation Class Name" : {
            "displayName" : "Custom Transformation Class Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Custom Transformation Class Name",
            "sensitive" : false
          },
          "Custom Module Directory" : {
            "displayName" : "Custom Module Directory",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Custom Module Directory",
            "resourceDefinition" : {
              "cardinality" : "MULTIPLE",
              "resourceTypes" : [ "DIRECTORY", "FILE" ]
            },
            "sensitive" : false
          },
          "Pretty Print" : {
            "displayName" : "Pretty Print",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Pretty Print",
            "sensitive" : false
          },
          "Jolt Specification" : {
            "displayName" : "Jolt Specification",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Jolt Specification",
            "resourceDefinition" : {
              "cardinality" : "SINGLE",
              "resourceTypes" : [ "FILE", "TEXT" ]
            },
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "DISABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-kafka-nar",
          "group" : "org.apache.nifi",
          "version" : "2.5.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "94b98bbb-cff0-3522-8fcd-1b1dddc58773",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ConsumeKafka",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -752.0,
          "y" : -752.0
        },
        "properties" : {
          "Topics" : "Task_counterparty_replication_from_1c_npg",
          "Commit Offsets" : "false",
          "Key Format" : "byte-array",
          "Key Attribute Encoding" : "utf-8",
          "Topic Format" : "names",
          "Header Encoding" : "UTF-8",
          "Max Uncommitted Time" : "1 sec",
          "Kafka Connection Service" : "48317afc-393b-33e2-a62b-beadf483d5e9",
          "Separate By Key" : "false",
          "Processing Strategy" : "FLOW_FILE",
          "Group ID" : "nifi-zoho-v1.0",
          "auto.offset.reset" : "latest",
          "Output Strategy" : "USE_VALUE"
        },
        "propertyDescriptors" : {
          "Topics" : {
            "displayName" : "Topics",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Topics",
            "sensitive" : false
          },
          "Commit Offsets" : {
            "displayName" : "Commit Offsets",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Commit Offsets",
            "sensitive" : false
          },
          "Header Name Pattern" : {
            "displayName" : "Header Name Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Header Name Pattern",
            "sensitive" : false
          },
          "Key Format" : {
            "displayName" : "Key Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Key Format",
            "sensitive" : false
          },
          "Key Record Reader" : {
            "displayName" : "Key Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Key Record Reader",
            "sensitive" : false
          },
          "Message Demarcator" : {
            "displayName" : "Message Demarcator",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Message Demarcator",
            "sensitive" : false
          },
          "Record Reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Reader",
            "sensitive" : false
          },
          "Key Attribute Encoding" : {
            "displayName" : "Key Attribute Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Key Attribute Encoding",
            "sensitive" : false
          },
          "Max Uncommitted Size" : {
            "displayName" : "Max Uncommitted Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Uncommitted Size",
            "sensitive" : false
          },
          "Topic Format" : {
            "displayName" : "Topic Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Topic Format",
            "sensitive" : false
          },
          "Header Encoding" : {
            "displayName" : "Header Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Header Encoding",
            "sensitive" : false
          },
          "Max Uncommitted Time" : {
            "displayName" : "Max Uncommitted Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Uncommitted Time",
            "sensitive" : false
          },
          "Kafka Connection Service" : {
            "displayName" : "Kafka Connection Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Kafka Connection Service",
            "sensitive" : false
          },
          "Separate By Key" : {
            "displayName" : "Separate By Key",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Separate By Key",
            "sensitive" : false
          },
          "Processing Strategy" : {
            "displayName" : "Processing Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Processing Strategy",
            "sensitive" : false
          },
          "Record Writer" : {
            "displayName" : "Record Writer",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Writer",
            "sensitive" : false
          },
          "Group ID" : {
            "displayName" : "Group ID",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Group ID",
            "sensitive" : false
          },
          "auto.offset.reset" : {
            "displayName" : "Auto Offset Reset",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "auto.offset.reset",
            "sensitive" : false
          },
          "Output Strategy" : {
            "displayName" : "Output Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.kafka.processors.ConsumeKafka",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "Original" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.5.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "97df68e2-6a9b-3697-b159-b272f262b79e",
        "maxBackoffPeriod" : "10 mins",
        "name" : "InvokeHTTP",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -752.0,
          "y" : -352.0
        },
        "properties" : {
          "Request Content-Encoding" : "DISABLED",
          "Request Multipart Form-Data Filename Enabled" : "true",
          "Request Chunked Transfer-Encoding Enabled" : "false",
          "HTTP/2 Disabled" : "False",
          "Connection Timeout" : "5 secs",
          "Response Cookie Strategy" : "DISABLED",
          "Socket Read Timeout" : "15 secs",
          "Socket Idle Connections" : "5",
          "Request Body Enabled" : "true",
          "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
          "HTTP URL" : "http://172.31.4.23:8290/converter?target=json",
          "Socket Idle Timeout" : "5 mins",
          "Response Redirects Enabled" : "True",
          "Socket Write Timeout" : "15 secs",
          "Response FlowFile Naming Strategy" : "RANDOM",
          "Response Cache Enabled" : "false",
          "Request Date Header Enabled" : "True",
          "Request Failure Penalization Enabled" : "false",
          "Response Body Attribute Size" : "256",
          "Content-type" : "application/xml",
          "Response Generation Required" : "false",
          "Response Header Request Attributes Enabled" : "false",
          "HTTP Method" : "POST",
          "Request Content-Type" : "${mime.type}",
          "Request Digest Authentication Enabled" : "false",
          "Response Cache Size" : "10MB",
          "Response Body Ignored" : "false"
        },
        "propertyDescriptors" : {
          "Request Content-Encoding" : {
            "displayName" : "Request Content-Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Content-Encoding",
            "sensitive" : false
          },
          "proxy-configuration-service" : {
            "displayName" : "Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "proxy-configuration-service",
            "sensitive" : false
          },
          "Request Multipart Form-Data Filename Enabled" : {
            "displayName" : "Request Multipart Form-Data Filename Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Multipart Form-Data Filename Enabled",
            "sensitive" : false
          },
          "Request Chunked Transfer-Encoding Enabled" : {
            "displayName" : "Request Chunked Transfer-Encoding Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Chunked Transfer-Encoding Enabled",
            "sensitive" : false
          },
          "Response Header Request Attributes Prefix" : {
            "displayName" : "Response Header Request Attributes Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Header Request Attributes Prefix",
            "sensitive" : false
          },
          "HTTP/2 Disabled" : {
            "displayName" : "HTTP/2 Disabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP/2 Disabled",
            "sensitive" : false
          },
          "Connection Timeout" : {
            "displayName" : "Connection Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Connection Timeout",
            "sensitive" : false
          },
          "Response Cookie Strategy" : {
            "displayName" : "Response Cookie Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cookie Strategy",
            "sensitive" : false
          },
          "Request Password" : {
            "displayName" : "Request Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Password",
            "sensitive" : true
          },
          "Socket Read Timeout" : {
            "displayName" : "Socket Read Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Read Timeout",
            "sensitive" : false
          },
          "Socket Idle Connections" : {
            "displayName" : "Socket Idle Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Idle Connections",
            "sensitive" : false
          },
          "Request Body Enabled" : {
            "displayName" : "Request Body Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Body Enabled",
            "sensitive" : false
          },
          "OAuth2 Access Token Refresh Strategy" : {
            "displayName" : "OAuth2 Access Token Refresh Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "OAuth2 Access Token Refresh Strategy",
            "sensitive" : false
          },
          "HTTP URL" : {
            "displayName" : "HTTP URL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP URL",
            "sensitive" : false
          },
          "Request OAuth2 Access Token Provider" : {
            "displayName" : "Request OAuth2 Access Token Provider",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Request OAuth2 Access Token Provider",
            "sensitive" : false
          },
          "Socket Idle Timeout" : {
            "displayName" : "Socket Idle Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Idle Timeout",
            "sensitive" : false
          },
          "Response Redirects Enabled" : {
            "displayName" : "Response Redirects Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Redirects Enabled",
            "sensitive" : false
          },
          "Socket Write Timeout" : {
            "displayName" : "Socket Write Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Write Timeout",
            "sensitive" : false
          },
          "Request Header Attributes Pattern" : {
            "displayName" : "Request Header Attributes Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Header Attributes Pattern",
            "sensitive" : false
          },
          "Response FlowFile Naming Strategy" : {
            "displayName" : "Response FlowFile Naming Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response FlowFile Naming Strategy",
            "sensitive" : false
          },
          "Response Cache Enabled" : {
            "displayName" : "Response Cache Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cache Enabled",
            "sensitive" : false
          },
          "Request Date Header Enabled" : {
            "displayName" : "Request Date Header Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Date Header Enabled",
            "sensitive" : false
          },
          "Request Failure Penalization Enabled" : {
            "displayName" : "Request Failure Penalization Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Failure Penalization Enabled",
            "sensitive" : false
          },
          "Response Body Attribute Size" : {
            "displayName" : "Response Body Attribute Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Attribute Size",
            "sensitive" : false
          },
          "Content-type" : {
            "displayName" : "Content-type",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "Content-type",
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "Response Generation Required" : {
            "displayName" : "Response Generation Required",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Generation Required",
            "sensitive" : false
          },
          "Request User-Agent" : {
            "displayName" : "Request User-Agent",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request User-Agent",
            "sensitive" : false
          },
          "Response Header Request Attributes Enabled" : {
            "displayName" : "Response Header Request Attributes Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Header Request Attributes Enabled",
            "sensitive" : false
          },
          "HTTP Method" : {
            "displayName" : "HTTP Method",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP Method",
            "sensitive" : false
          },
          "Request Username" : {
            "displayName" : "Request Username",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Username",
            "sensitive" : false
          },
          "Request Content-Type" : {
            "displayName" : "Request Content-Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Content-Type",
            "sensitive" : false
          },
          "Response Body Attribute Name" : {
            "displayName" : "Response Body Attribute Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Attribute Name",
            "sensitive" : false
          },
          "Request Digest Authentication Enabled" : {
            "displayName" : "Request Digest Authentication Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Digest Authentication Enabled",
            "sensitive" : false
          },
          "Request Multipart Form-Data Name" : {
            "displayName" : "Request Multipart Form-Data Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Multipart Form-Data Name",
            "sensitive" : false
          },
          "Response Cache Size" : {
            "displayName" : "Response Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cache Size",
            "sensitive" : false
          },
          "Response Body Ignored" : {
            "displayName" : "Response Body Ignored",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Ignored",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.5.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "d9ca182a-e53b-3062-81c6-f69d2f360e5a",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ReplaceText",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -752.0,
          "y" : 704.0
        },
        "properties" : {
          "Regular Expression" : "(?s)(^.*$)",
          "Replacement Value" : "${transform.message}",
          "Evaluation Mode" : "Line-by-Line",
          "Line-by-Line Evaluation Mode" : "All",
          "Character Set" : "UTF-8",
          "Maximum Buffer Size" : "1 MB",
          "Replacement Strategy" : "Always Replace"
        },
        "propertyDescriptors" : {
          "Regular Expression" : {
            "displayName" : "Search Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Regular Expression",
            "sensitive" : false
          },
          "Replacement Value" : {
            "displayName" : "Replacement Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Value",
            "sensitive" : false
          },
          "Evaluation Mode" : {
            "displayName" : "Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Evaluation Mode",
            "sensitive" : false
          },
          "Text to Prepend" : {
            "displayName" : "Text to Prepend",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Prepend",
            "sensitive" : false
          },
          "Line-by-Line Evaluation Mode" : {
            "displayName" : "Line-by-Line Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Line-by-Line Evaluation Mode",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Replacement Strategy" : {
            "displayName" : "Replacement Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Strategy",
            "sensitive" : false
          },
          "Text to Append" : {
            "displayName" : "Text to Append",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Append",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ReplaceText",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "Original" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.5.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "ddc18230-c846-37ce-bea0-6070f9ffe638",
        "maxBackoffPeriod" : "10 mins",
        "name" : "InvokeHTTP",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -752.0,
          "y" : 40.0
        },
        "properties" : {
          "Request Content-Encoding" : "DISABLED",
          "Request Multipart Form-Data Filename Enabled" : "true",
          "Request Chunked Transfer-Encoding Enabled" : "false",
          "HTTP/2 Disabled" : "False",
          "Connection Timeout" : "5 secs",
          "Response Cookie Strategy" : "DISABLED",
          "Socket Read Timeout" : "15 secs",
          "Socket Idle Connections" : "5",
          "Request Body Enabled" : "true",
          "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
          "HTTP URL" : "https://api.novaposhta.international:8243/api/mapper/1c-crm/account/from-1c",
          "Socket Idle Timeout" : "5 mins",
          "Response Redirects Enabled" : "True",
          "Socket Write Timeout" : "15 secs",
          "Response FlowFile Naming Strategy" : "RANDOM",
          "Response Cache Enabled" : "false",
          "Request Date Header Enabled" : "True",
          "Request Failure Penalization Enabled" : "false",
          "Response Body Attribute Size" : "256",
          "Response Generation Required" : "false",
          "Response Header Request Attributes Enabled" : "false",
          "HTTP Method" : "POST",
          "Request Content-Type" : "${mime.type}",
          "Request Digest Authentication Enabled" : "false",
          "Response Cache Size" : "10MB",
          "Response Body Ignored" : "false"
        },
        "propertyDescriptors" : {
          "Request Content-Encoding" : {
            "displayName" : "Request Content-Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Content-Encoding",
            "sensitive" : false
          },
          "proxy-configuration-service" : {
            "displayName" : "Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "proxy-configuration-service",
            "sensitive" : false
          },
          "Request Multipart Form-Data Filename Enabled" : {
            "displayName" : "Request Multipart Form-Data Filename Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Multipart Form-Data Filename Enabled",
            "sensitive" : false
          },
          "Request Chunked Transfer-Encoding Enabled" : {
            "displayName" : "Request Chunked Transfer-Encoding Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Chunked Transfer-Encoding Enabled",
            "sensitive" : false
          },
          "Response Header Request Attributes Prefix" : {
            "displayName" : "Response Header Request Attributes Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Header Request Attributes Prefix",
            "sensitive" : false
          },
          "HTTP/2 Disabled" : {
            "displayName" : "HTTP/2 Disabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP/2 Disabled",
            "sensitive" : false
          },
          "Connection Timeout" : {
            "displayName" : "Connection Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Connection Timeout",
            "sensitive" : false
          },
          "Response Cookie Strategy" : {
            "displayName" : "Response Cookie Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cookie Strategy",
            "sensitive" : false
          },
          "Request Password" : {
            "displayName" : "Request Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Password",
            "sensitive" : true
          },
          "Socket Read Timeout" : {
            "displayName" : "Socket Read Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Read Timeout",
            "sensitive" : false
          },
          "Socket Idle Connections" : {
            "displayName" : "Socket Idle Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Idle Connections",
            "sensitive" : false
          },
          "Request Body Enabled" : {
            "displayName" : "Request Body Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Body Enabled",
            "sensitive" : false
          },
          "OAuth2 Access Token Refresh Strategy" : {
            "displayName" : "OAuth2 Access Token Refresh Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "OAuth2 Access Token Refresh Strategy",
            "sensitive" : false
          },
          "HTTP URL" : {
            "displayName" : "HTTP URL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP URL",
            "sensitive" : false
          },
          "Request OAuth2 Access Token Provider" : {
            "displayName" : "Request OAuth2 Access Token Provider",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Request OAuth2 Access Token Provider",
            "sensitive" : false
          },
          "Socket Idle Timeout" : {
            "displayName" : "Socket Idle Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Idle Timeout",
            "sensitive" : false
          },
          "Response Redirects Enabled" : {
            "displayName" : "Response Redirects Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Redirects Enabled",
            "sensitive" : false
          },
          "Socket Write Timeout" : {
            "displayName" : "Socket Write Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Write Timeout",
            "sensitive" : false
          },
          "Request Header Attributes Pattern" : {
            "displayName" : "Request Header Attributes Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Header Attributes Pattern",
            "sensitive" : false
          },
          "Response FlowFile Naming Strategy" : {
            "displayName" : "Response FlowFile Naming Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response FlowFile Naming Strategy",
            "sensitive" : false
          },
          "Response Cache Enabled" : {
            "displayName" : "Response Cache Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cache Enabled",
            "sensitive" : false
          },
          "Request Date Header Enabled" : {
            "displayName" : "Request Date Header Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Date Header Enabled",
            "sensitive" : false
          },
          "Request Failure Penalization Enabled" : {
            "displayName" : "Request Failure Penalization Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Failure Penalization Enabled",
            "sensitive" : false
          },
          "Response Body Attribute Size" : {
            "displayName" : "Response Body Attribute Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Attribute Size",
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "Response Generation Required" : {
            "displayName" : "Response Generation Required",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Generation Required",
            "sensitive" : false
          },
          "Request User-Agent" : {
            "displayName" : "Request User-Agent",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request User-Agent",
            "sensitive" : false
          },
          "Response Header Request Attributes Enabled" : {
            "displayName" : "Response Header Request Attributes Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Header Request Attributes Enabled",
            "sensitive" : false
          },
          "HTTP Method" : {
            "displayName" : "HTTP Method",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP Method",
            "sensitive" : false
          },
          "Request Username" : {
            "displayName" : "Request Username",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Username",
            "sensitive" : false
          },
          "Request Content-Type" : {
            "displayName" : "Request Content-Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Content-Type",
            "sensitive" : false
          },
          "Response Body Attribute Name" : {
            "displayName" : "Response Body Attribute Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Attribute Name",
            "sensitive" : false
          },
          "Request Digest Authentication Enabled" : {
            "displayName" : "Request Digest Authentication Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Digest Authentication Enabled",
            "sensitive" : false
          },
          "Request Multipart Form-Data Name" : {
            "displayName" : "Request Multipart Form-Data Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Multipart Form-Data Name",
            "sensitive" : false
          },
          "Response Cache Size" : {
            "displayName" : "Response Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cache Size",
            "sensitive" : false
          },
          "Response Body Ignored" : {
            "displayName" : "Response Body Ignored",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Ignored",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.5.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "f9a4522b-7e70-3c56-a383-e181d7c7e98a",
        "identifier" : "f7c784cb-af9d-35ef-90a1-4b430a4caa09",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ReplaceText",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -752.0,
          "y" : 1352.0
        },
        "properties" : {
          "Regular Expression" : "(?s)(^.*$)",
          "Replacement Value" : "${transform.message}",
          "Evaluation Mode" : "Entire text",
          "Line-by-Line Evaluation Mode" : "All",
          "Character Set" : "UTF-8",
          "Maximum Buffer Size" : "1 MB",
          "Replacement Strategy" : "Always Replace"
        },
        "propertyDescriptors" : {
          "Regular Expression" : {
            "displayName" : "Search Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Regular Expression",
            "sensitive" : false
          },
          "Replacement Value" : {
            "displayName" : "Replacement Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Value",
            "sensitive" : false
          },
          "Evaluation Mode" : {
            "displayName" : "Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Evaluation Mode",
            "sensitive" : false
          },
          "Text to Prepend" : {
            "displayName" : "Text to Prepend",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Prepend",
            "sensitive" : false
          },
          "Line-by-Line Evaluation Mode" : {
            "displayName" : "Line-by-Line Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Line-by-Line Evaluation Mode",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Replacement Strategy" : {
            "displayName" : "Replacement Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Strategy",
            "sensitive" : false
          },
          "Text to Append" : {
            "displayName" : "Text to Append",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Append",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ReplaceText",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    } ],
    "processors" : [ ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "flowIdentifier" : "ex-zoho-1c-account",
    "timestamp" : 1761134670174
  }
}